*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    height: 60px;
    background: whitesmoke;

}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 ul.mainmenu li.menu {
    list-style: none;
    display: inline-block;
    padding: 10px 10px;
   
}
ul.mainmenu{
    border-radius: 50px;
}
ul.mainmenu li.menu a{
    color: black;
    text-decoration: none;
    display: block;
    padding:10px;
    border-radius: 10px;
}
ul.mainmenu li.menu a:hover{
    background: rgb(110, 103, 103);
    transition: 1s;
}
.navbar .navdiv ul li ul.dropdown li{
    display: block;
    padding: 10px;

}
.navbar .navdiv ul li ul.dropdown{
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background: whitesmoke;
    padding: 5px 5px;
}
.navbar .navdiv ul li:hover ul.dropdown{
    display: block;
    background: whitesmoke;
}